.App {
  text-align: center;
  display: grid;
  grid-template-rows: 6rem auto 60rem 30rem 15rem 30rem 30rem 40rem 40rem;
  grid-template-areas: "nav" "main" "about" "founder" "countup" "how" "portfolio" "contact";
}
.nav {
  grid-area: "nav";
  border: none;
  display: flex;
  background-color: #ff8484;
}
.main {
  grid-area: "main";
}
.nav-ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.nav-li {
  padding: 2rem;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: #3c6676;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
li {
  display: inline;
  padding: 0.5rem;
}
.background-video {
  height: 100%;
  width: 100%;
  margin: 0;
}
.homepage-content {
  background-color: #ff8484;
  margin: 0;
  padding: 5rem;
}
.homepage-button {
  background-color: #ff8484;
  color: white;
  border: 2px solid white;
  padding: 2rem;
  font-size: 1rem;
}
:focus {
  outline: none;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100vw;
}

.video-content {
  position: absolute;
  top: 35rem;
  width: 100%;
  height: 100%;
}
.homepage-button {
  background-color: transparent;
  border: 2px solid white;
  padding: 20px;
  color: white;
  font-size: 20px;
}
.homepage-button:hover {
  border: 2px solid #ff8484;
  color: #ff8484;
}

.tea-countup {
  font-size: 40px;
  color: white;
}
.code-countup {
  font-size: 40px;
  color: white;
}

p {
  margin: 10px;
  font-size: 16px;
  color: #3c6676;
}

h1 {
  margin: 20px;
  font-size: 3rem;
  color: #3c6676;
  font-family: "Abril Fatface", cursive;
}
h2 {
  font-size: 30px;
  font-family: "Abril Fatface", cursive;
  color: #3c6676;
}
h3 {
  font-size: 25px;
}
#about-section {
  grid-area: "about";
  display: flex;
  justify-content: center;
  border: 1px solid blue;
}
#founder-section {
  grid-area: "founder";
  display: flex;
  justify-content: center;
  background-color: #ff8484;
}
.countup {
  grid-area: "countup";
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #3c6676;
  color: white;
  border: 1px solid red;
}
.tea {
  color: white;
}
.code {
  color: white;
}
#how-section {
  grid-area: "how";
  display: flex;
  justify-content: center;
  border: 1px solid green;
}
#portfolio-section {
  grid-area: "portfolio";
  display: flex;
  justify-content: center;
  border: 1px solid orange;
}
#contact-section {
  grid-area: "contact";
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid purple;
}
.contact-p {
  color: #ff8484;
}
#about-list {
  display: flex;
  flex-direction: column;
}
#founder-list {
  display: flex;
  flex-direction: column;
}
#founder-h1 {
  padding-top: 2rem;
}
.founder-p {
  color: white;
}
#what-h2 {
  padding-top: 2rem;
}
#design-img {
  width: 7rem;
  height: 7rem;
}
#responsive-img {
  width: 7rem;
  height: 7rem;
}
#seo-img {
  width: 7rem;
  height: 7rem;
}
#what-we-do {
  display: flex;
  flex-direction: row;
}
#web-design {
  padding: 2rem;
}
#seo {
  padding: 2rem;
}
#responsive-design {
  padding: 2rem;
}
#palette-img {
  width: 7rem;
  height: 7rem;
}
#mountain-img {
  width: 7rem;
  height: 7rem;
}
#handshake-img {
  width: 7rem;
  height: 7rem;
}
#about-icons {
  display: flex;
  flex-direction: column;
}
