.App {
  text-align: center;
  display: grid;
  grid-template-rows: 6rem auto 60rem 40rem 15rem 60rem 30rem 60rem;
  grid-template-areas: "nav" "main" "about" "founder" "countup" "how" "portfolio" "contact";
}
.nav {
  grid-area: "nav";
  border: none;
  display: flex;
  background-color: #ff8484;
}
.main {
  grid-area: "main";
}
.nav-ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.nav-li {
  padding: 2rem;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: #3c6676;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
li {
  display: inline;
  padding: 0.5rem;
}
.background-video {
  height: 100%;
  width: 100%;
  margin: 0;
}
.homepage-content {
  background-color: #ff8484;
  margin: 0;
  padding: 5rem;
}
.homepage-button {
  background-color: #ff8484;
  color: white;
  border: 2px solid white;
  padding: 2rem;
  font-size: 1rem;
}
:focus {
  outline: none;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100vw;
}

.video-content {
  position: absolute;
  top: 35rem;
  width: 100%;
  height: 100%;
}
.homepage-button {
  background-color: transparent;
  border: 2px solid white;
  padding: 20px;
  color: white;
  font-size: 20px;
}
.homepage-button:hover {
  border: 2px solid #ff8484;
  color: #ff8484;
}

.tea-countup {
  font-size: 40px;
  color: white;
}
.code-countup {
  font-size: 40px;
  color: white;
}

p {
  margin: 10px;
  font-size: 16px;
  color: #3c6676;
}

h1 {
  margin: 20px;
  font-size: 4rem;
  color: #3c6676;
  font-family: "Abril Fatface", cursive;
}
h2 {
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  color: #3c6676;
}

h4 {
  font-size: 1.5rem;
  font-family: "Abril Fatface", cursive;
  color: #3c6676;
}
#about-section {
  grid-area: "about";
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
#about-mountain {
  width: 25%;
  float: left;
}
#about-palette {
  width: 25%;
  float: left;
}
#about-handshake {
  width: 25%;
  float: left;
}
#palette-img {
  width: 10rem;
  height: 10rem;
}
#mountain-img {
  width: 10rem;
  height: 10rem;
}
#handshake-img {
  width: 10rem;
  height: 10rem;
}
#what-h2 {
  padding-top: 2rem;
}
#design-img {
  width: 7rem;
  height: 7rem;
}
#responsive-img {
  width: 7rem;
  height: 7rem;
}
#seo-img {
  width: 7rem;
  height: 7rem;
}
#what-we-do {
  display: flex;
  justify-content: center;
}
#web-design {
  padding: 2rem;
  width: 25%;
  float: left;
}
#seo {
  padding: 2rem;
  width: 25%;
  float: left;
}
#responsive-design {
  padding: 2rem;
  width: 25%;
  float: left;
}

#founder-section {
  grid-area: "founder";
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff8484;
}
#founder-content {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
#girl {
  float: left;
}
.countup {
  grid-area: "countup";
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #3c6676;
  color: white;
}
.tea {
  color: white;
}
.code {
  color: white;
}
.count {
  font-size: 5rem;
}

#how-section {
  grid-area: "how";
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#how-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.how-steps {
  margin-left: 15%;
  display: inline-flex;
  align-items: center;
  float: left;
}
.how-p {
  color: #ff8484;
  font-size: 1.2rem;
}
a {
  color: #ff8484;
}

#portfolio-section {
  grid-area: "portfolio";
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff8484;
}

.portfolio-example {
  width: 25%;
  height: auto;
  margin: 2rem;
}
.portfolio-example:hover {
  border: 0.2rem solid #3c6676;
}
#contact-section {
  grid-area: "contact";
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3c6676;
}
.contact-p {
  color: #ff8484;
}
#about-list {
  display: flex;
  flex-direction: column;
}
#founder-list {
  display: flex;
  flex-direction: column;
  float: left;
}
#founder-h1 {
  padding-top: 2rem;
}
.founder-p {
  color: white;
}
#girl-img {
  width: 30rem;
  height: 30rem;
}
input {
  border: 0.2rem solid white;
  border-radius: 0.4rem;
  width: 25%;
  padding: 1rem;
  background-color: #3c6676;
  color: white;
}
::placeholder {
  color: white;
}
#message {
  padding: none;
  height: 7rem;
}
#contact-button {
  background-color: #3c6676;
  color: white;
  border: 0.2rem solid white;
  border-radius: 0.4rem;
  width: 15%;
  padding: 1rem 1.2rem;
  font-size: 1rem;
}
#contact-button:hover {
  border: 0.2rem solid #ff8484;
  color: #ff8484;
}
#email-img {
  width: 3rem;
  height: 3rem;
}
.email-p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}
#contact-h1 {
  color: white;
}
#contact-h2 {
  color: #ff8484;
}
